<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0110fecf-08a7-4398-9537-47bc2eb34f34" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="a6fb13f3-85d8-4c44-934a-e775c10a93f0" >
		<jms:active-mq-connection username="${jms.queue.user}" password="${jms.queue.password}">
			<jms:factory-configuration brokerUrl="${jms.queue.brokerURL}" maxRedelivery="${jms.queue.maximumRedeliveries}" />
		</jms:active-mq-connection>
	</jms:config>
	<configuration-properties doc:name="Configuration properties" doc:id="8fe27fa6-488e-4f44-80e5-49789c054e12" file="jms.yaml" />
	<file:config name="File_Config" doc:name="File Config" doc:id="224bbd19-9d7c-46f5-9139-4d9cb19fc1d6" >
	</file:config>
</mule>
